@using eMotive.Models.Objects.Email
@model Email

            <div class="control-group">
                <label class="control-label" for="Title">Title</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Title, new {style = "width: 100%;"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Message">Message</label>
                <div class="controls">
                    <textarea class="tinymce" cols="20" data-val="true" data-val-required="The email body should not be empty." id="Message" name="Message" rows="2" style="width: 100%; height: 30em;">
                        @Server.HtmlDecode(Model.Message)           
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Description">Description</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Description, new {style = "width: 100%;"})
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-info">Save</button> <a href="@Url.Action("Index")" class="btn">Cancel</a>
                </div>
            </div>