        <div id="sidebar">
            <ul>
                <li class="active"><a href="index.html"><i class="icon-home"></i> <span>Dashboard</span></a></li>
                <li>
                    <a href="widgets.html"><i class="icon-inbox"></i> <span>Widgets</span></a>
                </li>
            </ul>
        </div><!-- side menu end -->