<ul id="miniMap">
    <li>
        <span class="sys_sectionHead">Essential</span>
        <ul>
            <li>
                <a href="http://www.birmingham.ac.uk/students/courses/">Courses</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/students/visit/">Open days</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/students/prospectus.aspx">Order a prospectus</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/contact/directions/">Maps and directions</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/schools/">Schools and departments</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/news/">Press and media</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/oncampus/">Events</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/contact/">Contact</a>
            </li>
        </ul>
    </li>
    <li>
        <span class="sys_sectionHead">Current students</span>
        <ul>
            <li>
                <a class="myBhamLink" href="http://www.my.bham.ac.uk">my.bham student portal</a>
            </li>
            <li>
                <a href="https://intranet.birmingham.ac.uk/student/">Current student intranet</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/schools/">Schools and departments</a>
            </li>
            <li>
                <a href="http://www.guildofstudents.com">Guild of Students</a>
            </li>
            <li>
                <a href="http://www.sport.bham.ac.uk">UB Sport</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/university/about/equality/">Equality and Diversity </a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/welcome/">Welcome</a>
            </li>
        </ul>
    </li>
    <li>
        <span class="sys_sectionHead">Current staff</span>
        <ul>
            <li>
                <a href="https://www.intranet.birmingham.ac.uk">Staff intranet</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/schools/">Schools and departments</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/staff/jobs/">Vacancies</a>
            </li>
            <li>
                <a class="myBhamLink" href="http://www.my.bham.ac.uk">my.bham staff portal</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/university/about/equality/">Equality and Diversity </a>
            </li>


        </ul>
    </li>
    <li>
        <span class="sys_sectionHead">Services and facilities</span>
        <ul>
            <li>
                <a href="http://www.birmingham.ac.uk/facilities/">Facility search</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/libraries/">Libraries</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/partners/conferences/">Conferences and hospitality</a>
            </li>
            <li>
                <a href="http://www.sport.bham.ac.uk">Sport</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/partners/">Businesses</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/supplier-zone/">Supplier Zone</a>
            </li>
            <li>
                <a href="http://shop.bham.ac.uk">Online Shop</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/university/governance/policies-regs/information/">Freedom of information</a>
            </li>

        </ul>
    </li>
    <li>
        <span class="sys_sectionHead">Culture and collections</span>
        <ul>
            <li>
                <a href="http://www.birmingham.ac.uk/culture/">Our collections</a>
            </li>
            <li>
                <a href="http://www.barber.org.uk">Barber Institute of Fine Arts</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/bramall/">Bramall Music Building</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/facilities/cadbury/">Cadbury Research Library:<br>
                    Special Collections</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/facilities/lapworth-museum/">Lapworth Museum of Geology</a>
            </li>
            <li>
                <a href="http://www.birmingham.ac.uk/facilities/rcc/">Research and Cultural Collections</a>
            </li>
            <li>
                <a href="http://www.winterbourne.org.uk">Winterbourne House and Garden</a>
            </li>
        </ul>
    </li>

</ul>
<ul id="footerBottom">
    <li class="sys_first">© University of Birmingham 2013
    </li>
    <li>
        <a href="http://www.birmingham.ac.uk/privacy">Privacy</a>
    </li>
    <li>
        <a href="http://www.birmingham.ac.uk/legal">Legal</a>
    </li>
    <li><a href="http://www.birmingham.ac.uk/privacy/cookies.aspx">Cookies and cookie policy</a></li>
    <li>
        <a href="http://www.birmingham.ac.uk/accessibility">Accessibility</a>
    </li>
    <li>
        <a href="http://www.birmingham.ac.uk/sitemap">Site map</a>
    </li>
    <li>
        <a href="http://www.birmingham.ac.uk/contact/web-feedback.aspx">Website feedback</a>
    </li>
    <li class="sys_last">
        <a href="http://www.birmingham.ac.uk/university/governance/publication-scheme/charitable.aspx">Charitable information</a>
    </li>
</ul>