<div id="overlay" style="display: none;"></div>
          <ul id="globalNav">
            <li id="navUniversity">
              <div class="sys_overlay">
                
              </div>
              <a href="#">Our University</a>: a 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/university/">Our University home</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/university/welcome/">Vice Chancellor's welcome</a>
                </li>
                <li>
                  <a title="New Chancellor appointment" href="/university/chancellor/">New University Chancellor</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/university/about/">About us</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/university/governance/">Our governance</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/university/colleges/">Our colleges and schools</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/university/professional/">Professional Services</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/university/fact/">Facts and statistics</a>
                </li>
                <li class="sys_last">
                  <a href="http://www.birmingham.ac.uk/university/services/">Our services</a>
                </li>
              </ul>
              <!-- grid 1 goes here --><span id="grid1"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
            <li id="navCommunity">
              <div class="sys_overlay">
                
              </div>
              <a href="#">community</a> where 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/community/">Community home</a>
                </li>
                <li>
                  <a title="University campus" href="http://www.birmingham.ac.uk/community/university-campus/index.aspx">University campus</a>
                </li>
                <li>
                  <a title="Campus development" href="http://www.birmingham.ac.uk/community/building/index.aspx">Campus development</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/community/region">Regional relationships</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/community/speakers">Birmingham Speakers Programme</a>
                </li>
                <li>
                  <a title="University of Birmingham School" href="http://www.birmingham.ac.uk/community/university-school/">University of Birmingham School</a>
                </li>
              </ul>
              <!-- grid 2 goes here --><span id="grid2"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
            <li id="navStudents">
              <div class="sys_overlay">
                
              </div>
              <a href="#">students</a>, 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/students/">Study at Birmingham</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/courses/">Course finder</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/requirements/">Entry requirements</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/teaching/">Teaching and learning</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/birmingham/">Why Birmingham?</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/support/">Student support</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/fees/">Fees and funding</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/accommodation/">Accommodation</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/visit/">Visit us</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/students/advice/">Teachers, Careers Advisors and Parents</a>
                </li>
                <li class="sys_last">
                  <a href="http://www.birmingham.ac.uk/students/studyabroad/">Studying abroad</a>
                </li>
              </ul>
              <!-- grid 3 goes here --><span id="grid3"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
            <li id="navPartners">
              <div class="sys_overlay">
                
              </div>
              <a href="#">partners</a>, 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/partners/">Partners home</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/partners/business-services/index.aspx">Services to business</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/partners/employers/">Recruiting our students to work for you</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/partners/international-collaborations/">International partners and collaborations</a>
                </li>
                <li class="sys_last">
                  <a href="http://www.birmingham.ac.uk/partners/conferences/">Conferences</a>
                </li>
              </ul>
              <!-- grid 4 goes here --><span id="grid4"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
            <li id="navAlumni">
              <div class="sys_overlay">
                
              </div>
              <a href="#">alumni</a>, 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/alumni/">Alumni home</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/alumni/stayingintouch">Staying in touch</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/alumni/giving">Giving</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/alumni/getinvolved">Get involved</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/alumni/benefits">Alumni benefits</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/alumni/news">Alumni news</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/alumni/events">Events and reunions</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/alumni/ouralumni">Our Alumni</a>
                </li>
                <li class="sys_last">
                  <a title="Family community" href="http://www.birmingham.ac.uk/alumni/family/">Family community</a>
                </li>
              </ul>
              <!-- grid 5 goes here --><span id="grid5"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
            <li id="navStaff">
              <div class="sys_overlay">
                
              </div>
              <a href="#">staff</a> and our 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/staff/">Staff home</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/staff/birmingham/">About Birmingham</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/staff/why-work-here/">Why work here?</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/staff/jobs/">Jobs</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/staff/excellence/">Encouraging excellence</a>
                </li>
                <li class="sys_last">
                  <a title="Staff search" href="http://www.birmingham.ac.uk/staff/profiles/">Staff search</a>
                </li>
              </ul>
              <!-- grid 6 goes here --><span id="grid6"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
            <li id="navResearch">
              <div class="sys_overlay">
                
              </div>
              <a href="#">research</a> create 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/research/">Research home</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/research/our/">Our research</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/research/impact">Our impact</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/research/support">Supporting research</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/research/collaborators">Partners and collaborators</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/research/activity/ias/">The Institute of Advanced Studies</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/research/funding">Funding and awards</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/research/heroes">Birmingham Heroes</a>
                </li>
                <li>
                  <a title="Research activity" href="http://www.birmingham.ac.uk/research/activity/index.aspx">Research activitiy</a>
                </li>
                <li class="sys_last">
                  <a title="Research jobs" href="http://www.birmingham.ac.uk/research/jobs/index.aspx">Jobs</a>
                </li>
              </ul>
              <!-- grid 7 goes here --><span id="grid7"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
            <li id="navInternational">
              <div class="sys_overlay">
                
              </div>
              <a href="#">international</a> impact 
              <ul class="sys_origPos" style="display: none;">
                <li class="sys_first">
                  <a href="http://www.birmingham.ac.uk/international/">International home</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/international/impact">Our global impact</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/international/students">International students</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/international/collaborate">International collaborations</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/international/visitors">International visitors</a>
                </li>
                <li>
                  <a href="http://www.birmingham.ac.uk/international/meet">Meet us</a>
                </li>
                <li class="sys_last">
                  <a title="Study abroad" href="http://www.birmingham.ac.uk/international/study-abroad.aspx">Study abroad</a>
                </li>
              </ul>
              <!-- grid 8 goes here --><span id="grid8"></span>
            <div class="sys_overlay2" style="display: none;"></div><div class="sys_showPicture"></div></li>
          </ul>
