@{
    ViewBag.Title = "Page Not Found";
    Layout = User.Identity.IsAuthenticated ? (User.IsInRole("Applicant") ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_LayoutAdmin.cshtml") : "~/Views/Shared/_Layout.cshtml";
}

<h1>Page Not Found</h1>
<p>Could not find the page: @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null) {
<p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
}

@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))