@using System.Security.Claims
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Crumbs
{
    <ul class="breadcrumb">
        <li class="active">Home
        </li>
    </ul>
}
<div class="page-header">
    <h2>MMI Admin Home</h2>
</div>
<div>Welcome to MMI admin</div>