<div class="row">
    <div class="offset1 span4">
        <h3>Lists</h3>
        <table class="table table-striped table-bordered table-responsive" ng-show="dropDownLists">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="dropDown in dropDownLists">
                <td>{{dropDown.Name}}</td>
                <td>
                    <a href="#/Collection/Edit?Id={{dropDown.ID}}&Tab={{tabs.activeTab}}" class="btn btn-primary btn-small">Edit</a>
                    <a href class="btn btn-danger btn-small">Delete</a>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="#/Collection/Create?Tab={{tabs.activeTab}}" class="btn btn-primary btn-small">Create</a>
                </td>
            </tr>
        </table>
        
        <div ng-hide ="dropDownLists">
            <p>No drop down lists could be found.</p>

            <a href="#/Collection/Create?Tab={{tabs.activeTab}}" class="btn btn-primary btn-small">Create a drop down List</a>
        </div>
    </div>
</div>