@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Crumbs
{
    			<ul class="breadcrumb">
				<li>
					<a href="@Url.Action("Index","Home", new {area = "Admin"})">Home</a> <span class="divider">/</span>
				</li>
				<li class="active">
					Users
				</li>
			</ul>
}
			<div class="page-header">
				<h2>
					User Administration
				</h2>
			</div>
<button class="btn btn-mini" id="CreateUser">Create User</button>
<div id="UserList"></div>

<div class="modal hide fade" id="DeleteModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Delete User</h3>
    </div>
    <div class="modal-body">
        <div id="DeleteError" class="alert alert-error fade in">
            <strong>Error!</strong> <span id="DeleteErrorMessage">An error occured!</span>
        </div>
        <input type="hidden" id="DeleteID"/>
        <p id="DeleteMessage"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="ConfirmDelete">Yes, Delete</button>
    </div>
</div>

<div class="modal hide fade"  id="CreateModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create User</h3>
    </div>
    <div class="modal-body">
        <div id="CreateError" class="alert alert-error fade in">
            <strong>Error!</strong> <span id="CreateErrorMessage">An error occured!</span>
        </div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="CreateUsername">Username</label>
                <div class="controls">
                    <input type="text" placeholder="Username" id="CreateUsername">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="CreateForename">Forename</label>
                <div class="controls">
                    <input type="text" placeholder="Forename" id="CreateForename">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="CreateSurname">Surname</label>
                <div class="controls">
                    <input type="text" placeholder="Surname" id="CreateSurname">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="CreateEmail">Email</label>
                <div class="controls">
                    <input type="text" placeholder="Email" id="CreateEmail">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="CreateEnabled"> Enabled
                    </label>
                </div>
            </div>
            <div id="Roles" class="well"></div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="CreateSave">Create User</button>
    </div>
</div>

<div class="modal hide fade"  id="EditModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit User</h3>
    </div>
    <div class="modal-body">
        <div id="EditError" class="alert alert-error fade in">
            <strong>Error!</strong> <span id="EditErrorMessage">An error occured!</span>
        </div>
        <form class="form-horizontal">
            <input type="hidden" id="EditID"/>
            <div class="control-group">
                <label class="control-label" for="EditUsername">Username</label>
                <div class="controls">
                    <input type="text" placeholder="Username" id="EditUsername">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="EditForename">Forename</label>
                <div class="controls">
                    <input type="text" placeholder="Forename" id="EditForename">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="EditSurname">Surname</label>
                <div class="controls">
                    <input type="text" placeholder="Surname" id="EditSurname">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Editmail">Email</label>
                <div class="controls">
                    <input type="text" placeholder="Email" id="EditEmail">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="EditEnabled"> Enabled
                    </label>
                </div>
            </div>
            <div id="EditRoles" class="well"></div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="EditSave">Save changes</button>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/eMotive/Closures/RoleList.js?v=0.1")"></script>  
    <script src="@Url.Content("~/Scripts/eMotive/Closures/UserList.js?v=0.1")"></script>
    <script src="@Url.Content("~/Scripts/eMotive/UserFunctions.js?v=0.1")"></script>   
}
    
