@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div ng-app="formManagementApp">
    <div ng-view></div>
</div>

@section Scripts
{
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0-rc.4/angular-strap.js"></script>
<script src="~/Scripts/angular-strap.tpl.min.js"></script>
    <script src="~/AngularJs/Services/FormServices.js"></script>
<script src="~/AngularJs/Apps/FormManagement/formManagementApp.js"></script>
}
